{
  "Kestrel": {
    "Endpoints": {
      "Grpc": {
        "Url": "https://localhost:5001"
      }
    }
  },
  "ConnectionFactoryOptions": {
    "MasterHost": "localhost",
    "DefaultPort": 54321,
    "Database": "peerly-core",
    "UserName": "peerly-core-user",
    "Password": "pwd",
    "SslMode": "Disable"
  }
}
